.project-card-box {
    height: 17rem;
    width: 17rem;
    margin: 1rem;
    margin-bottom: 60px;
    background-color:gray;
}

.project-card-img {
    height: 17rem;
    width: 17rem;
}


.project-card-img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.project-content-title {
    margin-bottom: 0.5rem;
}

.project-url {
    text-decoration: none;
    color: black;
}

.project-url:hover {
    text-decoration: underline;
}

.project-content-img {
    width: 30vw;
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-content-img-hover:hover {
    box-shadow: 0 4px 8px 0 #96B4FF, 0 6px 20px 0 #96B4FF;
}

.project-content {
    text-align: left;
}

.project-github {
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
}


@media only screen and (max-width: 960px) {

    .width-95 {
width: auto;
    }
    .project-card-box, .project-card-img {
    height: 16rem;
    width: 16rem;
}

.project-content-title {
font-size: 2rem;}

.project-content {
    font-size:1.2rem;
}
}