.project-card-box {
    height: 17rem;
    width: 17rem;
    margin: 1rem;
    margin-bottom: 60px;
    background-color:gray;
}

.project-card-img {
    height: 17rem;
    width: 17rem;
}


.project-card-img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.project-content-img {
    width: 30vw;
}

.project-content {
    text-align: left;
}

.project-github {
    text-align: center;
    font-size: 2rem;
    margin-top: 3%;
}