.slider {
    position: relative;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .image {
    width: 30vw;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #96B4FF;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .right-arrow:hover {
    color: #FFE196;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #96B4FF;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left-arrow:hover {
    color: #FFE196;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }