.home-profile {
    background-color: #FFF7E3;
    padding: 80px 25% 60px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-bottom-20px {
    margin-bottom: 30px;
}

.home-name {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 60px;
    text-align: right;
    margin-right: 20px;
    margin-top: 0;
}

.home-profile-logos {
    margin-top: 10px;
    text-align: center;
}

.home-logos:hover {
    color: #FFE196;
}

.font-roboto {
    font-family: 'Edu SA Beginner', cursive;
}

.home-button {
    background-color: #96B4FF;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 100%;
}

.home-button:hover {
    background-color: #FFE196;
    color: #96B4FF;
}

.home-catchup {
    margin: 10% 20% 0;
    padding: 5px 20px;
    text-align: left;
    background-color: #FFE196;
    width: 50%;
}

.link-non-decoration {
    text-decoration: none;
}

.text-bold {
    font-weight: bold;
}

.home-catchup-update {
    color: grey;
    font-size: 10px;
}

.home-experience {
    text-align: center;
    padding: 0 25% 50px;
}

.home-experience-title {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
    padding-bottom: 40px;
}

.margin-bottom-50px {
    margin-bottom: 50px;
}

.home-project {
    background-color: #FFF7E3;
    text-align: center;
    padding: 0 25% 70px;
}

.home-project-title {
    font-family: 'Roboto', sans-serif;
    padding-top: 90px;
    padding-bottom: 20px;
}

.project-button {
    margin-top: 500px;
}

@media only screen and (max-width: 1220px) {
    .home-profile {
        padding: 80px 15% 60px;
    }

    .home-experience {
        padding: 0 15% 50px;
    }

    .home-project {
        padding: 0 15% 70px;
    }
}

@media only screen and (max-width: 960px) {
    .home-profile {
        padding: 80px 10% 60px;
    }

    .home-experience {
        padding: 0 10% 50px;
    }

    .home-project {
        padding: 0 10% 70px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home-name {
        margin-right: 0;
        font-size: 5rem;
    }

    .home-profile-logos {
        font-size: 3rem;
    }

    .font-roboto {
        font-size: 2rem;
    }

    .margin-bottom-20px {
        font-size: 1.5rem;
    }

    .home-button {
        font-size: 1.5rem;
    }

    .home-catchup {
        margin: 10% auto auto;
        width: 80%;
    }

    .home-catchup-font {
        font-size: 1.5rem;
    }

    .home-experience-title, .home-project-title {
        font-size: 2.5rem;
    }

}


