.about-page {
    background-color: #FFF7E3;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 130px;
}

.about-name {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

.pronunciation {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 0;
}

.about-life {
    margin: auto;
    margin-top: 100px;
    padding: 5px 20px;
    text-align: left;
    background-color: #FFE196;
}

.pearl {
    font-family: 'Edu SA Beginner', cursive;
    font-size: 1.3em;
}

.about-swe {
    margin: auto;
    margin-top: 50px;
    padding: 5px 20px;
    text-align: left;
    background-color: #FFE196;
}

.about-edu-skills {
    display: flex;
    justify-content: space-between;
}

ul {
    padding-left: 20px;
}

.about-edu {
    padding: 5px 20px;
    text-align: left;
    background-color: #FFE196;
    margin-top: 50px;
    height: 130px;
}

.about-love {
    padding: 5px 20px;
    text-align: left;
    background-color: #FFE196;
    margin-top: 50px;
}

.about-skills {
    padding: 5px 20px;
    text-align: left;
    background-color: #FFE196;
    margin-left: 20px;
    margin-top: 50px;
    width: 30%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.grid-skill {
    text-align: left;
}

.grid-level {
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
    text-align: left;
    color: #96B4FF;
    font-size: 1.5rem;
}


@media only screen and (max-width: 960px) {
.about-page {
    padding-left: 5%;
    padding-right: 5%;
}

.about-edu-skills {
    flex-direction: column;
}

.about-edu {
    height:auto;
}

.about-skills {
    margin-left: 0;
    width: auto;
}

.about-title-font {
    font-size: 2rem;
}

.long-text, .pearl, .grid-container {
    font-size:1.6rem;
}

.margin-bottom-1rem {
    margin-bottom: 2rem;
}
}